server {
    listen 443;
    server_name  {% for host in wagtail_hostname %}www.{{ host }} {% endfor %};
    return 301 https://{{ wagtail_hostname[0] }}$request_uri;
}

server {
        listen 443;
        server_name  {% for host in wagtail_hostname %}{{ host }} {% endfor %};

        ssl on;
        ssl_certificate /etc/ssl/certs/{{ ssl_cert }};
        ssl_certificate_key /etc/ssl/private/{{ ssl_private_key }};

        ssl_session_cache shared:SSL:20m;
        ssl_session_timeout 10m;

        ssl_prefer_server_ciphers on;

        ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;

        ssl_dhparam /etc/ssl/dhparam.pem;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

        {% if ca_cert %}
        ssl_stapling on;
        ssl_stapling_verify on;
        ssl_trusted_certificate /etc/ssl/certs/{{ ca_cert }};
        {% endif %}

        # resolver 8.8.8.8 8.8.4.4;

        {% if not wagtail_test %}
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
        {% endif %}

        #add_header Strict-Transport-Security "max-age=31536000";

        access_log /var/log/nginx/{{ wagtail_name }}_access.log;
        error_log /var/log/nginx/{{ wagtail_name }}_error.log;


        location ~ ^/(apple-touch-icon|android-chrome|browserconfig|favicon|mstile)(.*)\.(png|xml|ico)$ {
            root {{ wagtail_base_dir }}/static/img/favicons;
        }

        location ~ ^/(robots.txt|humans.txt)$ {
            alias {{ wagtail_base_dir }}/static/$1;
        }

        client_max_body_size 4G;

        location  /static/ {
               alias {{ wagtail_base_dir}}/static/;
         }

        location  /media/ {
               alias {{ wagtail_base_dir }}/media/;
         }

        location / {
           if (-f {{ wagtail_base_dir }}/static/offline.html) {
                return 503;
           }
           uwsgi_pass {{ wagtail_name }};
           include /etc/nginx/uwsgi_params;
        }

        error_page 503 502  @maintenance;
        location @maintenance {
            root {{ wagtail_base_dir }}/static;
            rewrite ^(.*)$ /offline.html break;
        }

}
